@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose img {
  @apply mx-auto py-12;
}

.rotate {
  animation-name: rotate_animation;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate_animation {
  0% {
    transform: rotate3d(0, 1, 0, 360deg);
    /* opacity: 0; */
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
    /* opacity: 1; */
  }
}
